<nav>

    <ul>

    <li><a href="{{ path('app_default') }}">Home</a></li>
    <li><a href="{{ path('app_bonjour') }}">Bonjour sans param</a></li>
    <li><a href="{{ path('app_bonjour', {'nom': 'mathis'}) }}">Bonjour avec param</a></li>

    </ul>

</nav>